body {
  height: 1500px;
}

.card {
  background: #ffffff;
  border: .5px solid black;
  height: 300px;
  width: 300px;
  background-origin: center;
  background-size: cover;
  background-repeat: none;
  border-radius: 10px;
  position: fixed;
  transition: box-shadow .2s ease-in-out;

}

.card:hover {
  cursor: grab;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.02);
}

.card:hover:active {
  cursor: grabbing;
}

.card input {
  max-width: 90%;
  width: 90%;
  margin: 100px auto;
  display: block;
}

.plus {
  width: 50px;
  height: 50px;
  background: yellow;
}

.x_button {
  position: absolute;
  right: 10px;
  top: 10px;
  background: red;
  height: 20px;
  width: 20px;
}
