<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <img [routerLink]="['/']" class='navbar-image' src='/assets/images/logo.png'>
    </div>
  </nav>
  <hr/>
  <div class='login__container'>
    <div *ngIf="errorFlag"
      class="alert alert-danger">
      {{errorMsg}}
    </div>

    <form (ngSubmit) = "login()" #f="ngForm">
      <h1>Login</h1>
      <br/>
      <input name='username' type='text' placeholder='username' class='form-control' required [(ngModel)]="username"/>
      <br/>
      <input name='password' type='password' placeholder='password' class='form-control' required [(ngModel)]="password"/>
      <br/>
      <br/>
      <br/>
      <button type='submit' [disabled]="!f.valid" class='btn btn-primary btn-block'>Login</button>
    </form>
    <br/>
    <a [routerLink]="['/register']">
      <button type='button' class='btn btn-success btn-block'>Register</button>
    </a>
  </div>
</div>
