<div class="container">
  <div class="row">
    <label for="username">Username</label>
    <input [(ngModel)]="viewedUser['username']" name="username" type="text" class="form-control" id="username" placeholder="Alice">

    <label for="first-name">First Name</label>
    <input [(ngModel)]="viewedUser['firstName']" name="firstName" type="text" class="form-control" id="first-name" placeholder="Alice">

    <label for="last-name">Last Name</label>
    <input [(ngModel)]="viewedUser['lastName']" name="lastName" type="text" class="form-control" id="last-name" placeholder="Wonderland">
    <div class='padding'></div>
    <button (click)='updateProfile()' class='btn btn-primary'>Save Changes</button>
  </div>
  <div class="row">
    <ul class="container">
      <h2>Boards</h2>
      <li class='board__preview' *ngFor="let board of boards" >
        <h3 [routerLink]="['/board/', board['_id']]">{{board['name']}}</h3>
        <div (click)="removeBoard(board['_id'])" class='board-x'>
          <i class='fa fa-times'></i>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <ul class="container">
      <h2>Companies</h2>
      <li class='company__preview' *ngFor="let company of companies" >
        <h3 [routerLink]="['/profile/', company['_id']]">{{company['username']}}</h3>
        <div (click)="removeCompany(company['_id'])" class='board-x'>
          <i class='fa fa-times'></i>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <span class="row">Following:</span>
    <ul>
      <li *ngFor="let followed of following">
        <h3 [routerLink]="['/profile/', followed['_id']]">{{followed['username']}}</h3>
        <div (click)="removeFollowed(followed['_id'])" class='board-x'>
          <i class='fa fa-times'></i>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <span class="row">Followers:</span>
    <ul>
      <li *ngFor="let follower of followers">
        <h3 [routerLink]="['/profile/', follower['_id']]">{{follower['username']}}</h3>
        <div (click)="removeFollower(follower)" class='board-x'>
          <i class='fa fa-times'></i>
        </div>
      </li>
    </ul>
  </div>
  <div class="row">
    <span class="row">Designers:</span>
    <ul>
      <li *ngFor="let designer of designers">
        <h3 [routerLink]="['/profile/', designer['_id']]">{{designer['username']}}</h3>
        <div (click)="removeDesigner(designer['_id'])" class='board-x'>
          <i class='fa fa-times'></i>
        </div>
      </li>
    </ul>
  </div>
</div>

