<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>View Profile</b>
      </a>
    </p>
  </div>
</nav>


<div class="container-fluid zlr-main-content-container">
  <div class="row">
    <p>Username: {{user['username']}}</p>
    <p>First name: {{user['firstName']}}</p>
    <p>Last name: {{user['lastName']}}</p>
    <p>Following: {{user['following']}}</p>
    <p>Followed by: {{user['followedBy']}}</p>
    <a class="btn btn-primary btn-block"
       (click)="follow()">Follow</a>
  </div>
</div>
<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
