<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <!--heading on the nav bar-->
    <p class="navbar-header pull-left">
      <a class="navbar-brand thick">
        <b>View Profile</b>
      </a>
    </p>
  </div>
</nav>

<div class="container">
  <div class="row">
    <div class="container">
      <ul class="list-group">
        <li class="list-group-item">
          {{viewedUser['username']}}
        </li>
        <li class="list-group-item">
          {{viewedUser['firstName']}} {{viewedUser['lastName']}}
        </li>
      </ul>
    </div>
    <br/>

    <h2>{{viewedUser['username']}}'s Boards</h2>
    <ul class="container">
      <li class='board__preview' *ngFor="let board of boards" >
        <h3 [routerLink]="['/board/', board._id]">{{board.name}}</h3>
      </li>
    </ul>
    <div class="container">
      <div class="row">
        <div class="col-6 following-container">
          <span class="row">Following:</span>
          <ul>
            <li *ngFor="let followed of following">
              {{followed['username']}}
            </li>
          </ul>
        </div>
        <div class="col-6 follower-container">
          <span class="row">Followers:</span>
          <ul>
            <li *ngFor="let follower of followers">
              {{follower['username']}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <a *ngIf="!isFollowing" class="btn btn-primary btn-block"
       (click)="follow()">Follow</a>
    <a *ngIf="isFollowing" class="btn btn-primary btn-block"
       (click)="unfollow()">Unfollow</a>
    <div class="container">
      <div class="row">
        <div class="col-12 following-container">
          <span class="row">Companies:</span>
          <ul>
            <li *ngFor="let company of companies">
              {{company['username']}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <a *ngIf="activeUser['role'] === 'COMPANY'" class="btn btn-primary btn-block"
       (click)="hire()">Hire</a>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <p class="navbar-text pull-right">
      <a [routerLink]="['/profile']">
        <span class="glyphicon glyphicon-user"></span>
      </a>
    </p>
  </div>
</nav>
