<div class="container">
  <nav class="navbar navbar-default">
    <div class="navbar-header">
      <img [routerLink]="['/']" class='navbar-image' src='/assets/images/logo.png'>
    </div>
  </nav>
  <hr/>
  <div class='login__container'>
    <div *ngIf="errorFlag"
      class="alert alert-danger">
      Please fill out all fields. All Fields are required
    </div>
    <h1>Register as a:</h1>
    <div *ngIf="isDesigner" class="row">
      <div class="col-6 bg-primary">
        <a (click)="isDesigner = true">Designer</a>
      </div>
      <div class="col-6">
        <a (click)="isDesigner = false">Company</a>
      </div>
    </div>
    <div *ngIf="!isDesigner" class="row">
      <div class="col-6">
        <a (click)="isDesigner = true">Designer</a>
      </div>
      <div class="col-6 bg-primary">
        <a (click)="isDesigner = false">Company</a>
      </div>
    </div>
    <br>
    <form *ngIf="isDesigner" (ngSubmit) = "register()" #f="ngForm">
      <input name='username' [(ngModel)]='username' type='text' class='form-control' placeholder='Please Enter A Username'>
      <br/>
      <input name='firstName' [(ngModel)]='firstName' type='text' class='form-control' placeholder='Please Enter Your First Name'>
      <br/>
      <input name='lastName' [(ngModel)]='lastName' type='text' class='form-control' placeholder='Please Enter Your Last Name'>
      <br/>
      <input name='password' [(ngModel)]='password' type='password' class='form-control' placeholder='Please Enter A Password'>
      <br/>
      <input name='conf_password' [(ngModel)]='conf_password' type='password' class='form-control' placeholder='Verify Baby!'>
      <br/>
      <br/>
      <button type='submit' class='btn btn-primary btn-block'>Register</button>
    </form>
    <form *ngIf="!isDesigner" (ngSubmit) = "registerCompany()" #g="ngForm">
      <input name='username' [(ngModel)]='username' type='text' class='form-control' placeholder='Please Enter Your Company Name'>
      <br/>
      <input name='firstName' [(ngModel)]='firstName' type='text' class='form-control' placeholder='Please Enter Your First Name'>
      <br/>
      <input name='lastName' [(ngModel)]='lastName' type='text' class='form-control' placeholder='Please Enter Your Last Name'>
      <br/>
      <input name='password' [(ngModel)]='password' type='password' class='form-control' placeholder='Please Enter A Password'>
      <br/>
      <input name='conf_password' [(ngModel)]='conf_password' type='password' class='form-control' placeholder='Verify Baby!'>
      <br/>
      <br/>
      <button type='submit' class='btn btn-primary btn-block'>Register</button>
    </form>
    <br/>
    <a [routerLink]="['/login']"><button type='button' class='btn btn-danger btn-block'>Cancel</button></a>
  </div>
  <br/>
  <br/>
</div>
